# 10 minutes pour les pandas

Importation des librairies :

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation

Création d' une Series en passant une liste de valeurs, laissant pandas créer un index entier par défaut:

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Création d'une DataFrame en passant un tableau numpy, avec un indice de datetime et colonnes intitulées:

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.223951 -0.865521  0.207416 -0.835525
2013-01-02 -1.367574  1.255644 -0.698718 -1.242898
2013-01-03 -0.820605  1.025732 -0.414379  0.275654
2013-01-04 -0.114750 -1.322923  0.592257 -0.656743
2013-01-05  2.717519  0.759445  2.458066 -1.028781
2013-01-06 -0.640964  0.460199 -0.733488 -0.925364

Création d' une DataFrame en passant un dict d'objets qui peuvent être convertis en series-like.

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Ayant spécifiques dtypes

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Affichage des données 

Voir les rangées supérieure et inférieure du frame

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.223951 -0.865521  0.207416 -0.835525
2013-01-02 -1.367574  1.255644 -0.698718 -1.242898
2013-01-03 -0.820605  1.025732 -0.414379  0.275654
2013-01-04 -0.114750 -1.322923  0.592257 -0.656743
2013-01-05  2.717519  0.759445  2.458066 -1.028781

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.114750 -1.322923  0.592257 -0.656743
2013-01-05  2.717519  0.759445  2.458066 -1.028781
2013-01-06 -0.640964  0.460199 -0.733488 -0.925364

Afficher l'index, les colonnes et les données numpy sous-jacentes

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[ 0.22395144, -0.86552148,  0.20741568, -0.83552487],
       [-1.36757426,  1.25564399, -0.6987183 , -1.24289816],
       [-0.82060499,  1.02573192, -0.41437864,  0.27565443],
       [-0.11474996, -1.32292334,  0.59225655, -0.65674321],
       [ 2.71751857,  0.75944516,  2.45806596, -1.02878139],
       [-0.64096391,  0.46019945, -0.73348773, -0.92536389]])

Describe montre un rapide résumé statistique de vos données

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.000404  0.218763  0.235192 -0.735610
std    1.442409  1.061077  1.208462  0.532570
min   -1.367574 -1.322923 -0.733488 -1.242898
25%   -0.775695 -0.534091 -0.627633 -1.002927
50%   -0.377857  0.609822 -0.103481 -0.880444
75%    0.139276  0.959160  0.496046 -0.701439
max    2.717519  1.255644  2.458066  0.275654

Transposer vos données

In [17]:
df.  T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.223951   -1.367574   -0.820605   -0.114750    2.717519   -0.640964
B   -0.865521    1.255644    1.025732   -1.322923    0.759445    0.460199
C    0.207416   -0.698718   -0.414379    0.592257    2.458066   -0.733488
D   -0.835525   -1.242898    0.275654   -0.656743   -1.028781   -0.925364

Tri par axe

In [18]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.835525  0.207416 -0.865521  0.223951
2013-01-02 -1.242898 -0.698718  1.255644 -1.367574
2013-01-03  0.275654 -0.414379  1.025732 -0.820605
2013-01-04 -0.656743  0.592257 -1.322923 -0.114750
2013-01-05 -1.028781  2.458066  0.759445  2.717519
2013-01-06 -0.925364 -0.733488  0.460199 -0.640964

Tri par valeurs

In [19]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04 -0.114750 -1.322923  0.592257 -0.656743
2013-01-01  0.223951 -0.865521  0.207416 -0.835525
2013-01-06 -0.640964  0.460199 -0.733488 -0.925364
2013-01-05  2.717519  0.759445  2.458066 -1.028781
2013-01-03 -0.820605  1.025732 -0.414379  0.275654
2013-01-02 -1.367574  1.255644 -0.698718 -1.242898

## Sélection 
### Obtenir

La sélection d' une seule colonne, ce qui donne une Series , ce qui équivaut à df.A

In [20]:
df['A']

2013-01-01    0.223951
2013-01-02   -1.367574
2013-01-03   -0.820605
2013-01-04   -0.114750
2013-01-05    2.717519
2013-01-06   -0.640964
Freq: D, Name: A, dtype: float64

In [21]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.367574  1.255644 -0.698718 -1.242898
2013-01-03 -0.820605  1.025732 -0.414379  0.275654
2013-01-04 -0.114750 -1.322923  0.592257 -0.656743

### Sélection par label

Pour obtenir une coupe transversale à l'aide d'un label

In [22]:
df.loc[dates[0]]

A    0.223951
B   -0.865521
C    0.207416
D   -0.835525
Name: 2013-01-01 00:00:00, dtype: float64

Sélection par label sur plusieurs axes

In [23]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.223951 -0.865521
2013-01-02 -1.367574  1.255644
2013-01-03 -0.820605  1.025732
2013-01-04 -0.114750 -1.322923
2013-01-05  2.717519  0.759445
2013-01-06 -0.640964  0.460199

Affichage label slicing tranchage, les deux extrémités sont inclus

In [24]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -1.367574  1.255644
2013-01-03 -0.820605  1.025732
2013-01-04 -0.114750 -1.322923

Réduction des dimensions de l'objet retourné

In [25]:
df.loc['20130102',['A','B']]

A   -1.367574
B    1.255644
Name: 2013-01-02 00:00:00, dtype: float64

Pour obtenir une valeur scalaire

In [26]:
df.  loc [dates [0], 'A']

0.22395144487099536

Pour obtenir un accès rapide à un scalaire (équivaut à la méthode antérieure)

In [27]:
df.at[dates[0],'A']

0.22395144487099536

### Sélection par Position 

Sélectionnez via la position des entiers passés

In [28]:
df.iloc[3]

A   -0.114750
B   -1.322923
C    0.592257
D   -0.656743
Name: 2013-01-04 00:00:00, dtype: float64

Par tranches entières, agissant comme numpy / python

In [30]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.114750 -1.322923
2013-01-05  2.717519  0.759445

Par des listes d'emplacements de positions entières, semblables au style numpy / python

In [31]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -1.367574 -0.698718
2013-01-03 -0.820605 -0.414379
2013-01-05  2.717519  2.458066

Pour trancher des lignes explicitement

In [32]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -1.367574  1.255644 -0.698718 -1.242898
2013-01-03 -0.820605  1.025732 -0.414379  0.275654

Pour couper des colonnes explicitement

In [33]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -0.865521  0.207416
2013-01-02  1.255644 -0.698718
2013-01-03  1.025732 -0.414379
2013-01-04 -1.322923  0.592257
2013-01-05  0.759445  2.458066
2013-01-06  0.460199 -0.733488

Pour obtenir une valeur explicitement

In [34]:
df.iloc[1,1]

1.2556439899404332

Pour obtenir un accès rapide à un scalaire (équivaut à la méthode antérieure)

In [35]:
df.iat[1,1]

1.2556439899404332

### Boolean Indexation 

Utiliser les valeurs d'une seule colonne pour sélectionner les données.

In [37]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.223951 -0.865521  0.207416 -0.835525
2013-01-05  2.717519  0.759445  2.458066 -1.028781

Une where l' opération d'obtention.

In [38]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.223951       NaN  0.207416       NaN
2013-01-02       NaN  1.255644       NaN       NaN
2013-01-03       NaN  1.025732       NaN  0.275654
2013-01-04       NaN       NaN  0.592257       NaN
2013-01-05  2.717519  0.759445  2.458066       NaN
2013-01-06       NaN  0.460199       NaN       NaN

Utilisation de la isin() méthode de filtrage:

In [39]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01  0.223951 -0.865521  0.207416 -0.835525    one
2013-01-02 -1.367574  1.255644 -0.698718 -1.242898    one
2013-01-03 -0.820605  1.025732 -0.414379  0.275654    two
2013-01-04 -0.114750 -1.322923  0.592257 -0.656743  three
2013-01-05  2.717519  0.759445  2.458066 -1.028781   four
2013-01-06 -0.640964  0.460199 -0.733488 -0.925364  three

In [40]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.820605  1.025732 -0.414379  0.275654   two
2013-01-05  2.717519  0.759445  2.458066 -1.028781  four

### Réglage 

La définition d'une nouvelle colonne aligne automatiquement les données par les index

In [41]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [42]:
df['F'] = s1

Définition des valeurs par libellé

In [43]:
df.at[dates[0],'A'] = 0

Définition des valeurs par position

In [44]:
df.iat[0,1] = 0

Réglage par assignation avec un tableau numpy

In [45]:
df.loc[:,'D'] = np.array([5] * len(df))

Le résultat des opérations de réglage préalable

In [46]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.207416  5  NaN
2013-01-02 -1.367574  1.255644 -0.698718  5  1.0
2013-01-03 -0.820605  1.025732 -0.414379  5  2.0
2013-01-04 -0.114750 -1.322923  0.592257  5  3.0
2013-01-05  2.717519  0.759445  2.458066  5  4.0
2013-01-06 -0.640964  0.460199 -0.733488  5  5.0

Une where l' opération de réglage.

In [47]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.207416 -5  NaN
2013-01-02 -1.367574 -1.255644 -0.698718 -5 -1.0
2013-01-03 -0.820605 -1.025732 -0.414379 -5 -2.0
2013-01-04 -0.114750 -1.322923 -0.592257 -5 -3.0
2013-01-05 -2.717519 -0.759445 -2.458066 -5 -4.0
2013-01-06 -0.640964 -0.460199 -0.733488 -5 -5.0

## Données manquantes 

pandas utilise principalement la valeur np.nan pour représenter les données manquantes. Il est par défaut non inclus dans les calculs. Voir la section Données manquantes

La réinitialisation vous permet de modifier / ajouter / supprimer l'index sur un axe spécifié. Cela retourne une copie des données.

In [48]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.207416  5  NaN  1.0
2013-01-02 -1.367574  1.255644 -0.698718  5  1.0  1.0
2013-01-03 -0.820605  1.025732 -0.414379  5  2.0  NaN
2013-01-04 -0.114750 -1.322923  0.592257  5  3.0  NaN

Pour supprimer les lignes dont les données manquent.

In [49]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02 -1.367574  1.255644 -0.698718  5  1.0  1.0

Remplir les données manquantes

In [50]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.207416  5  5.0  1.0
2013-01-02 -1.367574  1.255644 -0.698718  5  1.0  1.0
2013-01-03 -0.820605  1.025732 -0.414379  5  2.0  5.0
2013-01-04 -0.114750 -1.322923  0.592257  5  3.0  5.0

Pour obtenir le masque booléen où les valeurs sont nan

In [51]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

## Opérations 

### Stats

Opérations en général ne comprennent pas les données manquantes.

Effectuer une statistique descriptive

In [52]:
df.mean()

A   -0.037729
B    0.363016
C    0.235192
D    5.000000
F    3.000000
dtype: float64

Même opération sur l'autre axe

In [53]:
df.mean(1)

2013-01-01    1.301854
2013-01-02    1.037870
2013-01-03    1.358150
2013-01-04    1.430917
2013-01-05    2.987006
2013-01-06    1.817150
Freq: D, dtype: float64

Fonctionnement avec des objets qui ont une dimension différente et ont besoin d'alignement. En outre, les pandas diffusent automatiquement le long de la dimension spécifiée.

In [54]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [55]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -1.820605  0.025732 -1.414379  4.0  1.0
2013-01-04 -3.114750 -4.322923 -2.407743  2.0  0.0
2013-01-05 -2.282481 -4.240555 -2.541934  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

### Appliquer 

Application des fonctions aux données

In [56]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.207416   5   NaN
2013-01-02 -1.367574  1.255644 -0.491303  10   1.0
2013-01-03 -2.188179  2.281376 -0.905681  15   3.0
2013-01-04 -2.302929  0.958453 -0.313425  20   6.0
2013-01-05  0.414589  1.717898  2.144641  25  10.0
2013-01-06 -0.226375  2.178097  1.411154  30  15.0

In [57]:
df.apply(lambda x: x.max() - x.min())

A    4.085093
B    2.578567
C    3.191554
D    0.000000
F    4.000000
dtype: float64

### Histogrammes

In [58]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    6
1    1
2    0
3    6
4    5
5    3
6    6
7    2
8    3
9    5
dtype: int32

In [59]:
s.value_counts()

6    3
5    2
3    2
2    1
1    1
0    1
dtype: int64

### String Methods

Série est équipée d'un ensemble de méthodes de traitement de chaîne dans l'attribut str qui le rendent facile à utiliser sur chaque élément du tableau, comme dans l'extrait de code ci - dessous. Notez que pattern-matching dans str utilise généralement des expressions régulières par défaut (et dans certains cas les utilise toujours). Voir plus à vectorisées méthodes de chaînes .

In [60]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge

### Contact

Pandas offre diverses facilités pour combiner facilement des objets Series, DataFrame et Panel avec différents types de logique de consigne pour les index et la fonctionnalité d'algèbre relationnelle dans le cas d'opérations de type join / merge.

Voir la section Fusion

Concaténation pandas objets avec concat() :

In [61]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.294204 -0.584414 -0.830414 -1.037357
1 -0.743350 -1.062216 -1.350467 -0.235271
2 -0.327188 -1.037890 -0.158907 -2.016689
3  0.456542 -1.897407 -1.242905  0.529075
4  2.192064 -0.347052  1.182255  0.431745
5 -0.137155 -1.155199 -0.076873 -0.600351
6 -0.292581  0.764187 -0.630849  0.326414
7  0.150971  1.272794  0.388652  1.858662
8  0.291776 -0.210014  1.152740  1.144070
9 -0.936071 -0.500529 -0.299174  1.625194

In [62]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -0.294204 -0.584414 -0.830414 -1.037357
1 -0.743350 -1.062216 -1.350467 -0.235271
2 -0.327188 -1.037890 -0.158907 -2.016689
3  0.456542 -1.897407 -1.242905  0.529075
4  2.192064 -0.347052  1.182255  0.431745
5 -0.137155 -1.155199 -0.076873 -0.600351
6 -0.292581  0.764187 -0.630849  0.326414
7  0.150971  1.272794  0.388652  1.858662
8  0.291776 -0.210014  1.152740  1.144070
9 -0.936071 -0.500529 -0.299174  1.625194

### Join

Le style SQL fusionne. Voir le style de base de données se joindre

In [63]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  foo     2

In [64]:
right

   key  rval
0  foo     4
1  foo     5

In [65]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

Un autre exemple qui peut être donné est:

In [66]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  bar     2

In [67]:
right

   key  rval
0  foo     4
1  bar     5

In [68]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### Append

Ajouter des lignes à un dataframe. Voir la Appending

In [69]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0  1.265519  0.928344 -0.355071  0.877381
1 -0.729766  0.417199 -1.018534 -2.580788
2 -0.125697  1.567612 -0.969442  0.493901
3 -0.909064 -0.841306 -1.341869 -0.843922
4  0.008626  0.274431  0.728239 -0.337272
5 -0.455245 -0.054879  1.178772 -0.014636
6 -1.153209 -0.777030  0.564660  0.670117
7  0.522478  0.184493 -0.238363  0.660822

In [70]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0  1.265519  0.928344 -0.355071  0.877381
1 -0.729766  0.417199 -1.018534 -2.580788
2 -0.125697  1.567612 -0.969442  0.493901
3 -0.909064 -0.841306 -1.341869 -0.843922
4  0.008626  0.274431  0.728239 -0.337272
5 -0.455245 -0.054879  1.178772 -0.014636
6 -1.153209 -0.777030  0.564660  0.670117
7  0.522478  0.184493 -0.238363  0.660822
8 -0.909064 -0.841306 -1.341869 -0.843922

## Regroupement 

Par "groupe par", on entend un processus impliquant une ou plusieurs des étapes suivantes

        - Fractionnement des données en groupes en fonction de certains critères
        - L' application d' une fonction à chaque groupe indépendamment
        - En combinant les résultats dans une structure de données

In [72]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})

df

     A      B         C         D
0  foo    one  0.391546 -0.261730
1  bar    one  0.123318  0.648080
2  foo    two  0.530627 -0.758025
3  bar  three  0.514305 -0.184600
4  foo    two -0.481098 -1.218283
5  bar    two  0.311037 -2.469866
6  foo    one  0.662410 -0.677575
7  foo  three -3.159440 -1.592586

Le regroupement, puis en appliquant une fonction sum aux groupes résultant.

In [73]:
df.groupby('A').sum()

            C         D
A
bar  0.948659 -2.006386
foo -2.055956 -4.508198

Le regroupement par plusieurs colonnes forme un index hiérarchique, que nous appliquons ensuite à la fonction.

In [74]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.123318  0.648080
    three  0.514305 -0.184600
    two    0.311037 -2.469866
foo one    1.053956 -0.939304
    three -3.159440 -1.592586
    two    0.049529 -1.976308

## Reshaping

### Stack

In [76]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                      'foo', 'foo', 'qux', 'qux'],
                     ['one', 'two', 'one', 'two',
                      'one', 'two', 'one', 'two']]))

index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df2 = df[:4]

df2

                     A         B
first second
bar   one    -0.432598  0.057205
      two     0.787800 -0.622792
baz   one     0.428891 -1.975701
      two    -0.477412  0.231098

La stack() méthode "comprime" un niveau dans les colonnes de la dataframe.

In [77]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.432598
               B    0.057205
       two     A    0.787800
               B   -0.622792
baz    one     A    0.428891
               B   -1.975701
       two     A   -0.477412
               B    0.231098
dtype: float64

Avec un dataframe ou de série (ayant un "empilé" MultiIndex comme l' index ), l'opération inverse de la stack() est unstack() , qui par défaut dépile le dernier niveau:

In [78]:
stacked.unstack()

                     A         B
first second
bar   one    -0.432598  0.057205
      two     0.787800 -0.622792
baz   one     0.428891 -1.975701
      two    -0.477412  0.231098

In [79]:
stacked.unstack(1)

second        one       two
first
bar   A -0.432598  0.787800
      B  0.057205 -0.622792
baz   A  0.428891 -0.477412
      B -1.975701  0.231098

In [80]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.432598  0.428891
       B  0.057205 -1.975701
two    A  0.787800 -0.477412
       B -0.622792  0.231098

### Tableaux croisés dynamiques

In [81]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                    'B' : ['A', 'B', 'C'] * 4,
                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                    'D' : np.random.randn(12),
                    'E' : np.random.randn(12)})

df

        A  B    C         D         E
0     one  A  foo  0.888896 -1.743728
1     one  B  foo -1.063462 -0.059120
2     two  C  foo -0.618965  1.061786
3   three  A  bar -1.799949 -0.302988
4     one  B  bar  1.366726 -0.428593
5     one  C  bar -0.213646 -0.900111
6     two  A  foo  0.741700  0.095600
7   three  B  foo -0.484482 -0.172774
8     one  C  foo -0.925845 -1.067576
9     one  A  bar -1.297714 -0.058365
10    two  B  bar  0.817443 -0.510698
11  three  C  bar  1.634905 -0.745892

Nous pouvons produire des tableaux croisés à partir de ces données très facilement:

In [82]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -1.297714  0.888896
      B  1.366726 -1.063462
      C -0.213646 -0.925845
three A -1.799949       NaN
      B       NaN -0.484482
      C  1.634905       NaN
two   A       NaN  0.741700
      B  0.817443       NaN
      C       NaN -0.618965

# Source :

http://pandas.pydata.org/pandas-docs/stable/10min.html